/* Responsive de la pagina*/
@media(max-width:870px){

    #small-row{
        display: flex;
    }
    
    #big-row{
        display: none;
    }
    
    .botonesizquierda{
        display: none;
    }
}

@media (max-width: 992px) {
    .columnas-pesebre {
        display: flex !important;
        flex-wrap: wrap;
    }

    .modal-game-contenido {
        max-width: 95% !important;
    }
}

