.table-container {
    width: 90%;
    margin: 20px auto;
    overflow-x: auto;
  }
  
  table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #1c1c1c8e;
  }
